@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

body {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    padding: 25px 0px;
}

hr {
    border: 1.5px solid;
    border-radius: 1px;
    border-color: #333;
}

/* ----------------------------------------------------------------- */
/* Main holders */
.bitch-main {
    background-color: #121212;
    opacity: 95%;
    margin: 20px auto 10px auto;
    padding: 0px 30px 30px 30px;
	width: 600px;
	height: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #333333;
}

.todo-container {
    background-color: #121212;
    opacity: 95%;
    margin: 0px auto 0px auto;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
 	width: 600px;
	height: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #333333;
}

/* ----------------------------------------------------------------- */
/* Clock */
#clock {
    font-family: 'Orbitron', sans-serif;
    color: #980000;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
}

/* ----------------------------------------------------------------- */
/* Search bar */
.search-bar {
    margin-top: 3%;
    margin-bottom: 3%;
}

form {
    background-color: #333333;
    padding-left: 5px;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    color: #f2f2f2;
    caret-color: #fff;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

button {
    color: #fff;
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

::placeholder {
    color: #b2b2b2;
    font-family: 'Titillium Web', sans-serif;
    opacity: 0.7;
}

/* ----------------------------------------------------------------- */
/* Bookmarks */
.bookmarks {
    display: flex;
    height: inherit;
}

.list-column {
    background-color: #111;
    text-align: center;
	width: 500px;
    width: -moz-available;
    height: inherit;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #333;
}

.list-title {
    background-color: #333;
    color: #c1c1c1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px;
    font-size: 21px;
    font-family: 'Titillium Web', sans-serif;
}

.list-items {
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    padding: 15px;
    padding-top: 10px;
}

a {
    color: #980000;
    text-decoration: none;
}

a:hover {
    color: #690000;
}

/* ----------------------------------------------------------------- */
/* Todo list */
.todo-title {
    text-align: center;
    color: #c1c1c1;
    padding: 10px;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

.todo-items {
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 5px 13px 5px;
}

.todo-items-fill {
    list-style-type: none;
    margin-top: 10px;
    padding: 10px 5px 13px 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #333;
}

.item {
    padding: 5px 2px 5px 10px;
    color: #f2f2f2;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;

    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
    border-color: #333;
}

.item:first-child {
    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
    border-color: #333;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.item:last-child {
    border-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #333;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.checkbox {
    margin-right: 10px;
    background: url("../images/check.svg") center / contain no-repeat;
}

.checkbox:hover {
    cursor: pointer;
}

.delete-button {
    float: right;
    height: 25px;
    background: url("../images/close.png") center / contain no-repeat;
    border: none;
    outline: none;
}

.checked {
    text-decoration: line-through;
}

/* ----------------------------------------------------------------- */
/* Scroll bar */
:root {
    scrollbar-color: #868686 #690000;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #690000;
}

::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

/* ----------------------------------------------------------------- */
/* MOVABLE WINDOW */

#movablewindow {
    display: none;
    position: fixed;
    left: 70%;
    top: 10px;
    z-index: 9;
    background-color: #121212;
    opacity: 95%;
    border: 1px solid #333333;
    border-radius: 4px;
}

#movablepart-container {
    border-radius: 4px 4px 0px 0px;
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    line-height: 0px;
    min-height: 25px;
    padding-top: 7px;
}

#movablepart-text {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding-top: 6px;
}

#embed_video {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    min-width: 500px;
    min-height: 250px;
}

/* ----------------------------------------------------------------- */
/* BUTTONS / LINKS */

.close-embed {
    padding-right: 5px;
    font-size: 11px;
    color: #ffffff;
}

.close-embed:hover {
    color: #a1a1a1;
    cursor: pointer;
}

.embed-button {
    font-size: 13px;
    color: #690000;
    text-decoration: underline;
    text-decoration-color: #500000;
}

.embed-button:hover {
    cursor: pointer;
    color: #500000;
}
