
#movablewindow {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 9;
    background-color: var(--main-background);
    opacity: 95%;
    border: 1px solid var(--border);
    border-radius: 4px;
}

/* TODO: Use grab and grabbing for :active */
#movablewindow:hover {
    cursor: all-scroll;
}

#movablepart-container {
    border-radius: 4px 4px 0px 0px;
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    line-height: 0px;
    min-height: 25px;
    padding-top: 7px;
}

#movablepart-text {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding-top: 8px;
}

#embed_video {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    min-width: 500px;
    min-height: 250px;
}

.close-embed {
    position: absolute;
    top: 6px;
    right: 10px;
    /* color: #ffffff; */
}

.close-embed:hover {
    cursor: pointer;
    /* color: #a1a1a1; */
}
